/*
** Azul
*/
$blue-1: rgb( 0, 33, 87 );
$blue0: rgb( 0, 69, 140 );
$blue1: rgb( 0, 114, 188 );
$blue2: rgb( 0, 161, 228 );

/*
** Laranja
*/
$orange-2: rgb( 245, 130, 32 );
$orange-1: rgb( 247, 148, 29 );
$orange-site: #f29433;
$orange0: rgb( 253, 185, 19 );
$orange1: rgb( 255, 214, 79 );

/*
** Amarelo
*/
$yellow-1: #ddc242;
$yellow0: #f8df68;
$yellow1: #ffed95;

/*
** Cinza
*/
$gray0: rgb( 36, 29, 27 );
$gray1: rgb( 101, 104, 104 );
$gray2: rgb( 182, 186, 175 );
$gray3: rgb( 227, 230, 224 );
$gray4: rgb( 242, 241, 241 );

/*
** Vermelho
*/
$red: rgb( 237, 26, 59 );

/*
** Verde
*/
$green: rgb( 165, 207, 76 );
