@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/flexbox';

.alert {
    margin-bottom: 0px;
    margin-top: 15px;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    @include flexbox;
    @include flex-flow( row wrap );

    > button.close{
      border: none;
      font-size: 1.8rem;
      color: #656868;
      position: absolute;
      right: 2px;
      top: 0;
      background-color: transparent;
      cursor: pointer;
    }

    h4{
      font-size: 1rem;
      margin-bottom: 10px;
      font-family: 'Hurme Bold', Arial, Helvetica, sans-serif;
    }

    > div{
      @include flex-basis( 100% );

      &:not(:first-of-type){
        margin-top: 10px;
      }
    }

    &-danger{
      background-color: lighten( $red, 45% );
      border: 1px solid lighten( $red, 40% );
      @include border_radius( 5px );

      h4, p{
        color: darken( $red, 20% );
      }
      > button.close{
        color: darken( $red, 20% );
      }
    }

    &-success{
      background-color: lighten( $green, 30% );
      border: 1px solid lighten( $green, 10% );
      @include border_radius( 5px );

      h4, p{
        color: darken( $green, 30% );
      }
      > button.close{
        color: darken( $green, 30% );
      }
    }

    &-warning{
      background-color: lighten( $yellow0, 10% );
      border: 1px solid $yellow0;
      @include border_radius( 5px );

      h4, p{
        color: darken($yellow0, 50%);
      }
      > button.close{
        color: darken($yellow0, 50%);
      }
    }

    &-info{
      background-color: lighten( $blue2, 40% );
      border: 1px solid lighten( $blue2, 30% );
      @include border_radius( 5px );

      h4, p{
        color: lighten( $blue0, 10% );
      }
      > button.close{
        color: lighten( $blue0, 10% );
      }
    }
  }
  
  // .alert-heading {
  //   color: inherit;
  //   font-weight: bold;
  //   margin-bottom: 1rem;
  // }
  
  // .alert-link {
  //   font-weight: 700;
  // }
  
  // .alert-dismissible {
  //   padding-right: 4rem;
  // }
  
  // .alert-dismissible .close {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   padding: 0.75rem 1.25rem;
  //   color: inherit;
  // }
  
  // .alert-primary {
  //   color: #004085;
  //   background-color: #cce5ff;
  //   border-color: #b8daff;
  // }
  
  // .alert-primary .alert-link {
  //   color: #002752;
  // }
  
  // .alert-secondary {
  //   color: #383d41;
  //   background-color: #e2e3e5;
  //   border-color: #d6d8db;
  // }
  
  // .alert-secondary .alert-link {
  //   color: #202326;
  // }
  
  // .alert-success {
  //   color: #155724;
  //   background-color: #d4edda;
  //   border-color: #c3e6cb;
  // }
  
  // .alert-success .alert-link {
  //   color: #0b2e13;
  // }
  
  // .alert-info {
  //   color: #0c5460;
  //   background-color: #d1ecf1;
  //   border-color: #bee5eb;
  // }
  
  // .alert-info .alert-link {
  //   color: #062c33;
  // }
  
  // .alert-warning {
  //   color: #856404;
  //   background-color: #fff3cd;
  //   border-color: #ffeeba;
  // }
  
  // .alert-warning .alert-link {
  //   color: #533f03;
  // }
  
  // .alert-danger {
  //   color: #721c24;
  //   background-color: #f8d7da;
  //   border-color: #f5c6cb;
  // }
  
  // .alert-danger .alert-link {
  //   color: #491217;
  // }
  
  // .alert-light {
  //   color: #818182;
  //   background-color: #fefefe;
  //   border-color: #fdfdfe;
  // }
  
  // .alert-light .alert-link {
  //   color: #686868;
  // }
  
  // .alert-dark {
  //   color: #1b1e21;
  //   background-color: #d6d8d9;
  //   border-color: #c6c8ca;
  // }
  
  // .alert-dark .alert-link {
  //   color: #040505;
  // }
  