<div class="error-summary" *ngIf="show">
  <div #alert [class]="'alert ' +  AlertOptions.type" >
      <button type="button" class="close" aria-label="Close" (click)="ngOnDestroy()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">{{ AlertOptions?.title }}</h4>
      <div [innerHTML]="AlertOptions.message"></div>
    </div>
</div>